//sidebar
$menuText:#454545;
$menuActiveText:#454545;
$subMenuActiveText:#454545; //https://github.com/ElemeFE/element/issues/12951

$menuActiveBg: #ccf1fc;
$menuActiveBorderBg: #74b3ff;

$menuBg:#ffffff;
$menuHover:#ccf1fc;

$subMenuBg:#ffffff;
$subMenuHover:#ccf1fc;

$sideBarWidth: 220px;

$navbarHeight: 64px;

$appMainBg: #f4f7fb;
$primaryColor: #1e5ecc;
$primaryHoverColor: #4b7ed6;
$white: #ffffff;
$lightBlue: #4fcbff;
$orange: #ff5a00;
$gray: #a0a0a0;
$green: #1daa54;
$primary: #1e5ecc;
$secondary: #00b7ee;
$success: #67c23a;
$info: #909399;
$warning: #e6a23c;
$danger: #f56c6c;
$border: #c8d2e2;



